body {
    display: flex;
    justify-content: center;
}

.main {
    margin: 0.5rem auto;
    border: 4px solid #000814;
    width: 30rem;
    height: 90vh;
    text-align: center;
}

.head {
    margin: 0rem;
    padding: 1rem 0rem;
    background-color: #000814;
    color: #fff;
}
h1 {
    font-size: 3rem;
    font-weight: bold;
}
.stock {
    width: 5rem;
    height: 5rem;

}
.img-add {
    width: 1rem;
    height: 1rem;
}
input,.add {
    border: 2.5px solid #000814;
    margin: 0.5rem -0.2rem 0.3rem;
    padding: 0.7rem;
    color: #000814;
    display: inline;
}
.add {
    padding: 0.47rem 0.7rem 0.65rem;
    text-transform: uppercase;
    font-size: 1rem;
}
.p-cont {
    width: 40%;
    margin: 1rem auto;
}
.genrep {
    border: 3px solid #000814;
    color: #000814;
    background-color: transparent;
    padding: 0.8rem;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;
    margin: 0.5rem;
}
.genrep:hover {
    color: white;
    background-color: #00b4d8;
}
